version: '3.8'

services:
  app:
    image: ahaive-backend:latest
    container_name: ahaive-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: pgvector/pgvector:pg16
    container_name: ahaive-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgvector-data:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    container_name: ahaive-nginx
    ports:
      - "80:80"
    volumes:
      - ./data/nginx/app.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
volumes:
  pgvector-data:

