spring:
  config:
    activate:
      on-profile: dev
    import: optional:file:.env[.properties]


  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_DEV_URL}
    username: ${DB_DEV_USERNAME}
    password: ${DB_DEV_PASSWORD}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  ai:
    anthropic:
      api-key: ${ANTHROPIC_API_KEY}
      chat:
        options:
          model: ${ANTHROPIC_AI_MODEL}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: profile, email
            redirect-uri: ${GOOGLE_DEV_REDIRECT_URI}
            client-name: google


jwt:
  secret: ${JWT_SECRET}
  access-token-expiry: ${JWT_ACCESS_TOKEN_EXPIRY:3600000}
  refresh-token-expiry: ${JWT_REFRESH_TOKEN_EXPIRY:604800000}

springdoc:
  swagger-ui:
    url: /v3/api-docs